<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-justify">
                <h2 class="section-heading text-center">Illuminating the functional dark side</h2>
                <hr class="light">
                <p class="text-justify">Microbial metagenomic surveys have generated terabases of publicly available sequence data allowing deep insights into the structure, function and ecology of microorganisms. However, typically 40-60% of genes in these data sets have unknown function and are usually ignored in most of the analyses. Exploring this functionally uncharacterised space has the potential to accelerate discovery of new functions and help deepen our understanding of the role of microbes. To achieve these objectives, we have used an ecological approach to categorize those unknowns and we have implemented a bioinformatic pipeline to structure and explore the large pool of unknown genes.</p>
            </div>
        </div>
    </div>
</section>
