<section class="bg-light" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-justify">
                <h2 class="section-heading text-center">Illuminating the functional dark side</h2>
                <hr class="light">
                <p class="text-center"> By connecting genomic and metagenomic gene clusters in a single framework, our approach reveals the ecology, biogeography, and taxonomic affiliations of unknown gene clusters, providing comprehensive access to vast amounts of unknown biology through an extensible and scalable database.</p>
            </div>
        </div>
    </div>
</section>
