<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">A World of Unknowns</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-center">
                <div class="service-box">
                    <p class="wow bounceIn text-primary" style="font-size:64px;"><b>1,835</b></p>
                    <h3>Metagenomes</h3>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="service-box">
                  <p class="wow bounceIn text-primary data-wow-delay=".1s"" style="font-size:64px;"><b>28,941</b></p>
                  <h3>Genomes</h3>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="service-box">
                  <p class="wow bounceIn text-primary data-wow-delay=".1s"" style="font-size:64px;"><b>416M</b></p>
                  <h3>Genes</h3>
                </div>
            </div>
            <div class="col-lg-3 text-center">
                <div class="service-box">
                  <p class="wow bounceIn text-primary data-wow-delay=".2s"" style="font-size:64px;"><b>75M</b></p>
                  <h3>Unknowns</h3>
                </div>
            </div>
        </div>
    </div>
</section>
