<section class="bg-red" id="construction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-justify">
                <h2 class="section-heading text-center"><b>WARNING:</b> Under construction!!!</h2>
                <hr class="dark">
                <p class="text-center">Sorry for the dust! We’re working hard to make this website available.</p>
                
                <p class="text-center">Links might fail, content might be incomplete and layout might be very ugly.</p>

            </div>
        </div>
    </div>
</section>
